<!DOCTYPE html>
<html>
  <head>
    <title>Lms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>

    $(document).ready(function(){
      setTimeout(function(){
        $('#notice').fadeOut("slow", function(){
          $(this).remove();

        });
      },4500 );
    });

    </script>
  </head>

  <body>
     <% if notice %>
        <p id="notice"><%= notice %></p>
    <%elsif alert%>
        <p id="alert"><%= alert %></p>
    <% end %>



    <%= yield %>
    </div>


  </body>
</html>
